# This is an arbitrary title for the config
title = "Borg (Brooks's Org Format)"

# This is a list of all file extensions supported by this config
exts = ["org"]

# Sections
# "(^\*+ )(.*)\s([\s\S]*?)((?=^\1)|\z)"
[section]
marker = "*"
name = ".*"
body = "[\\s\\S]*?"

# The Regex details for flashcard-style questions
# "- (.*) :: ([\s\S]*?)\s*(?=^\s*[-*0-9]+|\z)"
[term]
leader = "- "
term = ".*"
separator = " :: "
definition = "[\\s\\S]*?"
terminator = "\\s*(?=^\\s*[-*0-9]+|\\z)"

# Ordered Lists
# "([0-9]+)\) ([\s\S]*?)\s*(^\s*- [\s\S]*?)*\s*(?=^\s*[*0-9]+|\z)"
# This could use a lot of work...
[list]
leader = "\\)"
numerals = "[0-9]+"
body = "[\\s\\S]*?"
sub_leader = "^\\s*- "
sub_terminator = "\\s*(?=^\\s*[-*0-9]+|\\z)"
terminator = "\\s*(?=^\\s*[*0-9]+|\\z)"

# Bullets
# "- ([\s\S]*?)\s*(?=^\s*[-*0-9]+|\z)"
[bullet]
leader = "- "
body = "[\\s\\S]*?"
terminator = "\\s*(?=^\\s*[-*0-9]+|\\z)"