# This is an arbitrary title for the config
title = "Vocabulary Quizzer"

# This is a list of all file extensions supported by this config
exts = ["org"]

# Specify how multi-line data is handled
flow = "Preserve"

# Sections
# "(^\*+ )(.*)\s([\s\S]*?)((?=^\1)|\z)"
[section]
marker = "*"
name = ".*"
body = "[\\s\\S]*?"

# The Regex details for definition-style questions
# "- (.*) :: ([\s\S]*?)(?=\n\s*[-*]+)"
[term]
flipped = true
leader = "- "
term = ".*"
separator = " :: "
definition = "[\\s\\S]*?"
terminator = "(?=\n\\s*[-*]+)"
